/* src/index.css o src/App.css */
body {
  margin: 0; /* Elimina el margen predeterminado del navegador */
  padding: 0; /* Elimina el padding predeterminado */
  box-sizing: border-box; /* Opcional, pero buena práctica */
}

/* Opcional: También se recomienda resetear el elemento raíz html */
html {
  height: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
